<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765009838511-qq95kr5udh2bv29anku1nhbf3f6a4hq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765009838511-qq95kr5udh2bv29anku1nhbf3f6a4hq0</string>
	<key>API_KEY</key>
	<string>AIzaSyA_NWnyxwpNr7t70PEKIpxCm6TS9stpx-k</string>
	<key>GCM_SENDER_ID</key>
	<string>765009838511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthProfile</string>
	<key>PROJECT_ID</key>
	<string>health-profile-cbf60</string>
	<key>STORAGE_BUCKET</key>
	<string>health-profile-cbf60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765009838511:ios:9a31c11635d22992a5ef5a</string>
</dict>
</plist>